.container {
  display: grid;
  gap: 1rem;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
}

.button {
  padding: 10px;
  margin: 10px auto;
}

button {
  padding: 10px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.load {
  margin: 10px auto;
  color: rebeccapurple;
  font-size: 20px;
  border: 1px solid green;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
