.container {
  box-sizing: border-box;
}

.stepper {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.bar {
  background: beige;
  height: 20px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 5px;
}

.progress {
  width: 0%;
  height: inherit;
  background: cornflowerblue;
  transition: width 0.8s linear;
  border-radius: inherit;
  position: absolute;
}

.ids {
  z-index: 999;
  background-color: darkkhaki;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  transition: background 0.8s linear;
}

[data-item="true"] {
  background: palevioletred;
}


.main {
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.item {
  margin: 20px auto;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 25px auto;
}

.btns button {
  width: 80px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
}


.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
/* Component Page */

.centerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  font-size: 18px;
  flex-wrap: wrap;
}
