.container {
  box-sizing: border-box;
}

.container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.itemIndex {
  background: aliceblue;
  text-align: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 1.25rem;
  font-weight: 500;
  align-content: center;
}

.itemText {
  text-transform: capitalize;
  color: burlywood;
  font-size: 1.25rem;
  font-weight: 500;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 25px auto;
}

.btns button {
  width: 80px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
}

.container [data-step="true"] {
  background: gainsboro;
  color: aliceblue;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
/* Component Page */

.centerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  font-size: 18px;
  flex-wrap: wrap;
}
