.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container input {
  width: 300px;
  height: 25px;
  padding: 5px 5px;
  font-size: 20px;
}

.container button {
  cursor: pointer;
  height: 30px;
  font-family: 20px;
}

.container button:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
  font-weight: 500;
  margin: 20px auto;
}
