.ul-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.ul-container > li {
  width: inherit;
}
.ul-container > h1 {
  color: rgb(178, 201, 222);
  text-align: center;
  text-decoration: underline;
}

.ul-container  .container {
  color: coral;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.ul-container > .child {
  padding: 5px 10px;
}

.ul-container > button {
  width: inherit;
  text-align: justify;
}
