:root {
  padding: 10px 10px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #ffffff;
  --text-color: plum;
  --head-color: plum;
  --text-transform: uppercase;
}
